@page
@model VerificationModel
@{
    ViewData["Title"] = "Mail Verification";
}

@if (Request.Method == "POST")
{
    <p>Successfully activated</p>
}
else
{
    <form method="post">
        <input type="submit" value="Verify address" />
    </form>
}
