@using Microsoft.AspNetCore.Mvc.Localization
@using Skynet.Server.Web.Controllers

@inject IHtmlLocalizer<MailConfirmationController> localizer

@model MailConfirmationViewModel
@{
    ViewData["Title"] = localizer["ConfirmedTitle"];
}

<h2 class="main-header">@localizer["ConfirmedHeader"]</h2>

<div class="content">
    <p>@localizer["ConfirmedContent", Model.MailAddress]</p>
</div>
