
@{
    ViewData["Title"] = "Invalid token";
}

<h2 class="main-header">Invalid confirmation code</h2>

<p>The confirmation code you entered is invalid. After creating your account the confirmation code is valid for 24 hours.</p>