
@{
    ViewData["Title"] = "Invalid token";
}

<h2 class="main-header">Invalid confirmation code</h2>

<div class="content">
    <p>The confirmation code you entered is invalid. Please note that after creating your account, the confirmation code is only valid for 24 hours.</p>
</div>
