@using Microsoft.AspNetCore.Mvc.Localization
@using SkynetServer.Web.Controllers

@inject IHtmlLocalizer<MailConfirmationController> localizer

@model MailConfirmationViewModel
@{
    ViewData["Title"] = localizer["PendingTitle"];
}

<h2 class="main-header">@localizer["PendingTitle"]</h2>

<div class="content">
    <p>@localizer["PendingContent", Model.MailAddress]</p>
    <noscript>
        <div class="alert alert-warning" role="alert">
            <p>@localizer["PendingJSWarning"]</p>
        </div>
    </noscript>

    <form class="auto-submit" method="post">
        <input type="submit" class="btn btn-primary" value="@localizer["PendingButton"]" />
    </form>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
}
